<section>
  <mat-card>
    <div class="container">
      <h1>
        I'm experienced in designing and building highly scalable web applications. With my attention to detail,
        especially for user experience, minimalism, reusability, and clean codes, I'm highly capable of delivering
        projects efficiently and satisfying customers with attractive and user-friendly applications. I also manage and
        contribute to a number of open source projects.
        <br />
        <br />
        Currently, I work for <span class="highlight">{{ company }}</span> as a
        <span class="highlight"> {{ job }} </span>.
        <br />
        <br />
        Got an interesting opportunity?<a class="highlight" href="mailto:lylevincedelacuesta@gmail.com"> Contact me!</a>
      </h1>
    </div>
  </mat-card>
</section>
