@import '../../../breakpoints.scss';

:host section {
  margin-top: 80px;
  mat-card {
    height: 100%;

    .about {
      display: flex;
      align-items: center;
      justify-content: center;

      @include breakpoint('xs', 'lg') {
        text-align: center;
      }
    }
  }
}
