<section>
  <mat-card>
    <div class="row container">
      <div class="col-xs-12 col-md-offset-1 col-md-3 profile-picture-container">
        <img src="assets/images/profile-picture.jpeg" class="profile-picture" />
      </div>
      <div class="col-xs-12 col-md-8 about">
        <h1>
          I have an experience in designing, structuring, developing, and implementing interactive websites. I also
          continuously deliver projects efficiently and satisfy customers with attractive and user-friendly
          applications. <br /><br />
          <a class="highlight" href="#">Got some great offer? Contact me! 💌</a>
        </h1>
      </div>
    </div>
  </mat-card>
</section>
