<section>
  <mat-card class="section-card">
    <div class="container" aria-label="skills">
      <div class="row">
        <span class="col-xs-12 mat-body-2" aria-label="coding">coding</span>
        <mat-chip-list class="col-xs-12" aria-label="coding list">
          <mat-chip *ngFor="let coding of skills?.coding">{{ coding }}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="row">
        <span class="col-xs-12 mat-body-2" aria-label="design language">design language</span>
        <mat-chip-list class="col-xs-12" aria-label="design language list">
          <mat-chip *ngFor="let design of skills?.design">{{ design }}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="row">
        <span class="col-xs-12 mat-body-2" aria-label="application">application</span>
        <mat-chip-list class="col-xs-12" aria-label="application list">
          <mat-chip *ngFor="let application of skills?.application">{{ application }} </mat-chip>
        </mat-chip-list>
      </div>
      <div class="row">
        <span class="col-xs-12 mat-body-2" aria-label="development methodology">development methodology</span>
        <mat-chip-list class="col-xs-12" aria-label="development methodology list">
          <mat-chip *ngFor="let methodology of skills?.methodology">{{ methodology }} </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card>
</section>
