@import '../../../breakpoints.scss';

.hero-container {
  display: flex;
  position: relative;
  min-height: 100vh;

  ::ng-deep #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    h1 {
      font-weight: 800;

      @include breakpoint('md') {
        font-size: 48px;
        line-height: 82px;
      }

      @include breakpoint('lg') {
        font-size: 64px;
        line-height: 109px;
      }
    }
  }
}
