:host {
  mat-card {
    padding: 0;
    background-color: aquamarine;
    img {
      width: 100%;
      height: auto;
    }
  }
  h1 {
    margin: 30px 0 !important;
  }
  .mat-subheading-2,
  .action {
    margin-bottom: 1.5rem;
    a {
      padding: 0;
    }
  }
}
