$spacing: 1.5rem;

.contributions {
  margin-top: 40px;
}

.row {
  margin-left: -$spacing;
  margin-right: -$spacing;
  [class*='col'] {
    padding-left: $spacing;
    padding-right: $spacing;
  }
}
