<mat-toolbar id="toolbar" [ngClass]="isScrolled ? 'mat-elevation-z3' : 'transparent'">
  <div class="container">
    <a class="logo" href="/">
      <img
        width="24"
        height="24"
        [src]="'assets/svg/rairulyle-logo-' + logoScheme + '.svg'"
        alt="logo-only"
        loading="lazy"
      />
      <span>ライル</span>
    </a>
    <span class="spacer"></span>
    <!-- <ng-container *ngIf="isLarge; else mobileNav">
      <a mat-button class="item" [href]="item?.url" *ngFor="let item of items">{{ item?.name }}</a>
    </ng-container>
    <ng-template #mobileNav>
      <button mat-icon-button (click)="openDrawerClicked()">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-template> -->
    <app-theme-switcher></app-theme-switcher>
  </div>
</mat-toolbar>
