<mat-toolbar>
  <div class="container">
    <div class="logo">
      <img [src]="'assets/svg/rairulyle-logo-' + islightMode + '.svg'" />
      <span>ライル</span>
    </div>
    <span class="spacer"></span>
    <a mat-button class="item" href="#">skills</a>
    <a mat-button class="item" href="#">experience</a>
    <a mat-button class="item" href="#">projects</a>
    <a mat-button class="item" href="#">others</a>
    <a mat-button class="item" href="#">connect</a>
    <app-theme-switcher></app-theme-switcher>
  </div>
</mat-toolbar>
