.container {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
  }
  span {
    margin-left: 6px;
    font-family: 'Noto Sans JP';
  }
}
.mat-toolbar {
  position: fixed;
  display: flex;
  gap: 10px;
  z-index: 999;
  background-color: transparent;
  .item {
    padding: 0 10px;
    margin: 0 10px;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0;
}
