@import './theme.scss';
@import '~flexboxgrid-sass';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.center-text {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

::selection {
  color: #ffffff;
  background: var(--accent-color);
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.highlight {
  color: var(--primary-color) !important;
}

[id]::before {
  content: '';
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}
