<div class="hero-container">
  <ng-particles [id]="'tsparticles'" [options]="particlesOptions"></ng-particles>
  <div class="hero">
    <div class="container">
      <h1 class="mat-display-2">
        Konnichiwassup,<br />
        my name is <span class="highlight">Lyle (ライル)</span>.<br />
        I'm a passionate <span class="highlight">Web Developer</span> from the Philippines!
      </h1>
      <p>
        This portfolio is already old. You will be
        <a target="_blank" href="https://rairulyle.me" class="highlight">redirected to the new one</a> in a few seconds
        :)
      </p>
      <div class="social-connect">
        <a
          mat-mini-fab
          [attr.aria-label]="social.icon"
          [href]="social.url"
          target="_blank"
          *ngFor="let social of socials"
        >
          <mat-icon [svgIcon]="social.icon"></mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
