# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Prepare and deploy
        env:
         GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
           npm install
           npm run lint
           ###
           # Configure Angular first!
           ####
           # npm test -- --watch=false --progress=false --browsers=ChromeHeadlessCI
           # npm run webdriver-update-ci
           # npm run e2e -- --protractor-config=e2e/protractor-ci.conf.js --webdriver-update=false
           ####
           npm run deploy --name="Lyle Vince Dela Cuesta" --email=lylevincedelacuesta@gmail.com
