<footer>
  <div class="container">
    <mat-divider *ngIf="isLightMode"></mat-divider>
    <div class="footer-content">
      <div class="profile-picture-container">
        <img width="100" height="100" src="assets/images/profile-picture.jpeg" alt="profile-picture" loading="lazy" />
      </div>
      <div class="credit">
        <span class="mat-subheading-2">Designed and developed by yours truly.</span>
        <span class="mat-caption license">© {{ yearNow }} Lyle Vince Dela Cuesta</span>
      </div>
    </div>
  </div>
</footer>
